<div style="float: right; width: 50%;">
    <p style="margin: 0; text-align:right;">Python en Ciencia de Datos Aplicada</p>
    <p style="margin: 0; text-align:right; padding-button: 100px;">Preprocesamiento de datos
</p>
</div>

</div>
<div style="width: 100%; clear: both;">
<div style="width:100%;">&nbsp;</div>

# Preprocesamiento de datos
---

Esta unidad presenta las principales herramientas de preprocesamiento de datos en Python. Veremos cómo utilizar la librería [pandas](http://pandas.pydata.org/), que ya hemos introducido en los módulos anteriores, para preprocesar datos, y también introduciremos el uso de una nueva librería, [scikit-learn](http://scikit-learn.org).

## Introducción

Los datos adquiridos del mundo real acostumbran a ser incompletos y a contener ruido e inconsistencias. Por este motivo, surge la necesidad del preprocesamiento de datos.

El **preprocesamiento de datos** es el conjunto de técnicas que permite convertir un conjunto de datos en bruto en un conjunto de datos que pueda ser usado por un algoritmo de minería de datos. El objetivo principal del preprocesamiento de datos es mejorar la calidad de los datos utilizados por las técnicas de minería de datos, de manera que estas puedan operar con más facilidad.

Dentro de las técnicas de preprocesamiento de datos, distinguimos dos grandes grupos: **preparación** de los datos y **reducción** de los datos.

![](img/Preprocesamiento-de-datos.png)

La **integración** de los datos se centra en la recolección de todos los datos necesarios para el análisis (que a menudo proceden de fuentes distintas) en un único conjunto. La integración de datos debe afrontar problemas como la eliminación de atributos redundantes, la detección de tuplas duplicadas y la identificación de inconsistencias. Tanto los atributos redundantes como las tuplas duplicadas hacen aumentar el espacio de almacenamiento y el tiempo de cómputo necesarios para tratarlos y, además, pueden ser fuente de inconsistencias. 

Una vez se dispone de un conjunto de datos integrados, es necesario aplicar un proceso de **limpieza**. Este proceso se encarga de tratar los valores perdidos y datos erróneos (o datos con ruido), que pueden aparecer a causa de errores en la entrada de datos, la transmisión, o los propios sistemas de procesamiento de datos. 

En ocasiones los datos contienen atributos que tienen sentido en el dominio en el que fueron recogidos pero no son suficientemente buenos para construir modelos. En estos casos, se suele aplicar un proceso de **normalización** que transforme los atributos originales (por ejemplo, cambiando la escala en la que se representan).

Adicionalmente, se pueden realizar otro tipo de **transformaciones** en los datos, de manera que se generen nuevos atributos a partir de los existentes. Así, por ejemplo, puede ser beneficioso generar un nuevo atributo que agregue información contenida en otros atributos o bien transformar un atributo nominal a varios atributos binarios (lo que permitirá aplicar modelos que solo sepan trabajar con atributos numéricos).

Cada vez más nos encontramos con conjuntos de datos de gran tamaño, con millones de muestras y miles de atributos, a los cuales queremos aplicar técnicas de minería de datos. Aplicar los algoritmos de minería de datos directamente sobre estos conjuntos de datos es poco eficiente y, muy a menudo, incluso inviable. En estos casos, se aplican técnicas de **reducción** de datos, que reducen el tamaño del conjunto de datos a procesar intentando mantener la información que contenía el conjunto de datos original.

El proceso de **reducción de dimensiones** reduce el número de atributos del conjunto de datos. Generalmente se siguen dos estrategias distintas para reducir el número de dimensiones de un conjunto de datos: la selección de características, que escoge un subconjunto de entre el conjunto de características disponibles; y la extracción de características, que construye un conjunto de características derivadas de las originales.

Mientras que los procesos de reducción de dimensiones reducen el número de características del conjunto de datos, los procesos de **reducción de muestras** se centran en reducir el número de muestras o ejemplos que serán utilizadas por el algoritmo de minería de datos.

Por último, las técnicas de **discretización** de datos permiten reducir el número de valores de un atributo continuo dividiendo el rango de valores posibles del atributo en intervalos y reemplazando los valores continuos por una etiqueta que representa el intervalo en el cual se encuentran.

## Preprocesamiento de datos en Python

En este módulo trabajaremos con la librería [pandas](http://pandas.pydata.org/), que ya hemos introducido en módulos anteriores, y [scikit-learn](http://scikit-learn.org), una nueva librería que presentamos en este módulo. Scikit-learn es una librería de aprendizaje automático de Python que nos ofrece herramientas y implementaciones de algoritmos para minería y análisis de datos. En la propia web de scikit-learn podéis encontrar la [documentación completa](http://scikit-learn.org/stable/documentation.html) de la librería.

Este Notebook contiene ejemplos concretos de técnicas que pueden aplicarse para preprocesar datos para cada uno de los grupos de técnicas descritos en la introducción del módulo (en la xwiki asociada). Es importante destacar que se han seleccionado únicamente algunas técnicas dentro de cada grupo para presentar ejemplos del tipo de transformaciones que se realizan pero, en la práctica, el conjunto de técnicas que se aplican en el preprocesamiento de los datos es mucho más amplio. 

En este Notebook veremos cómo aplicar diferentes técnicas de preprocesamiento de datos sobre un conjunto de datos metereológicos de la ciudad de Pequín. El *dataset* original puede encontrarse en el siguiente [repositorio de Machine Learning de la UC Irvine](http://archive.ics.uci.edu/ml/datasets/Beijing+PM2.5+Data#), aunque para las actividades utilizaremos una variante modificada del mismo que nos permitirá practicar un conjunto más amplio de técnicas. Podéis encontrar una pequeña descripción de los atributos del conjunto de datos siguiendo el enlace anterior.

En primer lugar, cargamos el conjunto de datos:

In [2]:
#Importamos la librería pandas.
import pandas as pd

# Cargamos los datos del fichero "weather_dataset_edited.csv" en un dataframe.
data = pd.read_csv("data/weather_dataset_edited.csv")

# Mostramos una descripción básica de los datos cargados.
print(type(data))
print(len(data))
data.head(n=5)

<class 'pandas.core.frame.DataFrame'>
43824

   No  year month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010   jan    1     0    NaN   -21 -11.0  1021.0   Nw   1.79   0   0
1   2  2010   jan    1     1    NaN   -21 -12.0  1020.0   nw   4.92   0   0
2   3  2010   jan    1     2    NaN   -21 -11.0  1019.0   nw   6.71   0   0
3   4  2010   jan    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010   jan    1     4    NaN   -20 -12.0  1018.0   nW  12.97   0   0

## Integración de datos

El conjunto de datos ha sido creado con la colaboración de diferentes personas. Aunque todas ellas anotaban la misma información, lo cierto es que utilizaron una nomenclatura distinta para describir la dirección del viento. Veamos cómo podemos unificar la nomenclatura usada por todos ellos.

In [3]:
# Visualizamos las diferentes abreviaturas utilizadas.
set(data["cbwd"])

{'NE', 'NW', 'Nw', 'SE', 'Se', 'nW', nan, 'ne', 'nw', 'sE', 'se'}

In [4]:
'''.loc[] Acceda a un grupo de filas y columnas por etiqueta (s) o una matriz booleana.
   .loc[] se basa principalmente en etiquetas, pero también se puede utilizar con una matriz booleana.'''

# Unificamos la nomenclatura para usar únicamente mayúsculas.
data.loc[ data.cbwd == "ne", "cbwd"] = "NE"
data.loc[(data.cbwd == "Nw") | (data.cbwd == "nW") | (data.cbwd == "nw"), "cbwd"] = "NW"
data.loc[(data.cbwd == "Se") | (data.cbwd == "sE") | (data.cbwd == "se"), "cbwd"] = "SE"

Notad que usamos el operador `.loc`, que habíamos visto en el módulo 4 (en las explicaciones sobre la librería pandas) para filtrar las filas que cumplen una característica concreta (por ejemplo, para la primera sentencia, que tienen el valor 'ne' en el campo `cbwd`) y luego seleccionamos únicamente la columna `cbwd` para poder asignarle el nuevo valor (en este caso, 'NE').

In [5]:
'''https://docs.python.org/3/tutorial/datastructures.html#sets
   set() -> A set is an unordered collection with no duplicate elements. 
            Basic uses include membership testing and eliminating duplicate entries. 
            Set objects also support mathematical operations like union, intersection, 
            difference, and symmetric difference.'''

# Comprobamos que la sustitución se haya realizado correctamente.
set(data["cbwd"])

{'NE', 'NW', 'SE', nan}

Además, sabemos que normalmente la temperatura se tomaba con un termómetro configurado para usar el sistema métrico internacional, por lo que esta se encuentra expresada en grados Celsius. Sin embargo, durante el año 2011 se estuvieron tomando las mediciones con otro termómetro configurado con grados Farenheit, por lo que las muestras de ese año se encuentran expresadas en °F. Veamos cómo podemos unificar las mediciones de temperatura.

In [6]:
import numpy as np             

# Visualizamos la media anual de las temperaturas.
grouped = data.groupby("year")      #Agrupar DataFrame usando un asignador o por una serie de columnas.

'''Me daba error porque debían haber valores que no eran numéricos en la columna TEMP,
   estoy agrupando los años con la columna TEMP. 
   https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html
   He tenido que buscar/aplicar la siguiente linea:'''

data['TEMP'] = pd.to_numeric(data['TEMP'], errors = 'coerce')

grouped.aggregate({"TEMP": np.mean})

           TEMP
year
2010  11.632420
2011  54.617534
2012  11.967441
2013  12.399201
2014  13.679566

Fijaos como, efectivamente, la media del año 2011 es mucho más alta que la del resto de años.

In [7]:
# Definimos una función que convierte grados Fahrenheit en grados Celsius.
def fahrenheit_to_celsius(x):
    return (x-32)*5/9

# Sustituimos los valores de las temperaturas del año 2011 por el resultado de aplicar la función
# 'fahrenheit_to_celsius' al valor actual.
data.loc[data.year == 2011, "TEMP"] = data[data.year == 2011]["TEMP"].apply(fahrenheit_to_celsius)

In [8]:
# Comprobamos que los cambios realizados han tenido efecto.
grouped.aggregate({"TEMP": np.mean})

           TEMP
year
2010  11.632420
2011  12.565297
2012  11.967441
2013  12.399201
2014  13.679566

## Transformación de datos

Los atributos `month` y `cbwd` contienen cadenas de caracteres como valores y representan variables categóricas, por lo que algunos tipos de algoritmos de minería de datos no podrán trabajar con ellas. Por ello, las transformaremos en un conjunto de atributos binarios (un atributo para cada categoría posible).

In [9]:
# Mostramos el conjunto de atributos original.
print(list(data))

['No', 'year', 'month', 'day', 'hour', 'pm2.5', 'DEWP', 'TEMP', 'PRES', 'cbwd', 'Iws', 'Is', 'Ir']

In [10]:
# Creamos nuevos atributos binarios para las categorías utilizadas en las columnas "month" y "cbwd".
'''.get_dummies() -> Convierta la variable categórica en variables ficticias / indicadoras.'''
''' dummy_na -> bool, predeterminado Falso
                Agregue una columna para indicar los NaN, si se ignoran los NaN falsos.'''

data_trans = pd.get_dummies(data, columns=["month", "cbwd"], dummy_na=True)

In [11]:
# Mostramos el conjunto de atributos después de la transformación.
print(list(data_trans))

['No', 'year', 'day', 'hour', 'pm2.5', 'DEWP', 'TEMP', 'PRES', 'Iws', 'Is', 'Ir', 'month_apr', 'month_aug', 'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sept', 'month_nan', 'cbwd_NE', 'cbwd_NW', 'cbwd_SE', 'cbwd_nan']

Podemos ver un ejemplo de cómo se han transformado los valores observando algunas muestras concretas. Así, para las muestras entre las posiciones diez y veinte y la columna `cbwd`:

In [12]:
# Mostramos el valor de la columna "cbwd" original para las muestras entre las posiciones diez y veinte.
print(data.loc[10:20, ["cbwd"]])

# Mostramos los valores de las nuevas columnas "cbwd_NE", "cbwd_NW", "cbwd_SE", "cbwd_nan"
# para las muestras entre las posiciones diez y veinte.
data_trans.loc[10:20, ["cbwd_NE", "cbwd_NW", "cbwd_SE", "cbwd_nan"]]

   cbwd
10   NW
11   NW
12   NW
13   NW
14   NW
15  NaN
16   NW
17   NW
18   NE
19   NW
20  NaN

    cbwd_NE  cbwd_NW  cbwd_SE  cbwd_nan
10        0        1        0         0
11        0        1        0         0
12        0        1        0         0
13        0        1        0         0
14        0        1        0         0
15        0        0        0         1
16        0        1        0         0
17        0        1        0         0
18        1        0        0         0
19        0        1        0         0
20        0        0        0         1

## Limpieza de datos

Uno de los problemas que se tratan en la limpieza de datos es el tratamiento de valores perdidos. Existen múltiples estrategias para tratar con estos valores, desde directamente eliminar las muestras que contienen algún valor perdido hasta sustituir los valores perdidos por algún otro valor (por ejemplo, para atributos numéricos, la media del atributo en el resto de muestras). Veamos un ejemplo de sustitución de valores perdidos por la media del atributo.

En primer lugar, identificamos los atributos que tienen algún valor NaN:

In [13]:
'''The any() function returns True if any item in an iterable are true, otherwise it returns False.
   If the iterable object is empty, the any() function will return False.'''
'''.isnull(obj) Detect missing values for an array-like object.'''

# Definimos función que nos retorna valor booleano indicando si algún valor de la serie es NaN.
def any_is_null(x):
    return any(pd.isnull(x))

print(data_trans.apply(any_is_null)) # Aplicamos función any_is_null a cada columna del dataframe.

No            False
year          False
day           False
hour          False
pm2.5          True
DEWP          False
TEMP          False
PRES          False
Iws           False
Is            False
Ir            False
month_apr     False
month_aug     False
month_dec     False
month_feb     False
month_jan     False
month_jul     False
month_jun     False
month_mar     False
month_may     False
month_nov     False
month_oct     False
month_sept    False
month_nan     False
cbwd_NE       False
cbwd_NW       False
cbwd_SE       False
cbwd_nan      False
dtype: bool

Notad que aunque la columna `cbwd` original contenía valores perdidos, después de la transformación ya no los tenemos, ya que estos se encuentran representados con valores binarios en la columna `cbwd_nan`. Así, únicamente será necesario tratar los valores perdidos de la columna `pm2.5`.

Procedemos a sustituir los valores perdidos de la columa `pm2.5` por la media de la columna utilizando la librería sklearn (aunque también podríamos utilizar las funciones de indexación de pandas para conseguir el mismo objetivo).

In [14]:
# Importamos Imputer del módulo de preprocesamiento de la librería sklearn.
from sklearn.impute import SimpleImputer

# Sustituiremos los valores perdidos por la media de la columna 
imp = SimpleImputer(strategy='mean')

'''fit_transform significa hacer un cálculo y luego hacer una transformación (digamos, calcular las medias 
   de las columnas a partir de algunos datos y luego reemplazar los valores faltantes). 
   Entonces, para el conjunto de entrenamiento, debe calcular y realizar la transformación.'''

'''numpy.ravel( a , orden = 'C' )Devuelve una matriz plana contigua.
   Se devuelve una matriz 1-D que contiene los elementos de la entrada. '''

# Aplicamos la transformación a la columna pm2.5.
data_trans["pm2.5"] = imp.fit_transform(data_trans[["pm2.5"]]).ravel()

In [15]:
'''One alternative to using a loop to iterate over a DataFrame is to use the pandas .apply() method. 
   This function acts as a map() function in Python. 
   It takes a function as an input and applies this function to an entire DataFrame.
   https://www.datacamp.com/community/tutorials/pandas-apply
   https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html'''

# Comprobamos que se han eliminado los valores perdidos.
print(data_trans.apply(any_is_null))

No            False
year          False
day           False
hour          False
pm2.5         False
DEWP          False
TEMP          False
PRES          False
Iws           False
Is            False
Ir            False
month_apr     False
month_aug     False
month_dec     False
month_feb     False
month_jan     False
month_jul     False
month_jun     False
month_mar     False
month_may     False
month_nov     False
month_oct     False
month_sept    False
month_nan     False
cbwd_NE       False
cbwd_NW       False
cbwd_SE       False
cbwd_nan      False
dtype: bool

## Normalización de datos

Una de las alternativas para normalizar los datos consiste en centrar los valores para que la media del atributo se encuentre cercana a cero y escalarlos para que la varianza sea 1. Veamos cómo realizar este proceso sobre el atributo que contiene la presión atmosférica.

In [16]:
# Observamos los estadísticos básicos originales del atributo "PRES".
data_trans["PRES"].describe()

count    43824.000000
mean      1016.447654
std         10.268698
min        991.000000
25%       1008.000000
50%       1016.000000
75%       1025.000000
max       1046.000000
Name: PRES, dtype: float64

In [17]:
'''El sklearn.preprocessingpaquete proporciona varias funciones de utilidad comunes y clases de transformadores 
   para cambiar los vectores de características sin procesar en una representación que sea más adecuada 
   para los estimadores posteriores. En general, los algoritmos de aprendizaje se benefician de la 
   estandarización del conjunto de datos. Si algunos valores atípicos están presentes en el conjunto, 
   los transformadores o escaladores robustos son más apropiados.'''

# Importamos StandardScaler del módulo de preprocesamiento de la librería sklearn.
from sklearn.preprocessing import StandardScaler

'''Vuelv aplicar el método para "numerizar" todos los elementos de la columna'''
data_trans["PRES"] = pd.to_numeric(data_trans["PRES"], errors= 'coerce')

'''StandardScaler() -> Estandarizar características eliminando la media y escalando a la varianza de la unidad'''
# Utilizamos el StandardScaler de sklearn para normalizar los valores del atributo "PRES".
data_trans.loc[:, ["PRES"]] = StandardScaler().fit_transform(data_trans.loc[:, ["PRES"]])

In [18]:
# Observamos los estadísticos básicos del atributo "PRES" después de la transformación.
data_trans["PRES"].describe()

count    4.382400e+04
mean     2.664485e-15
std      1.000011e+00
min     -2.478206e+00
25%     -8.226701e-01
50%     -4.359456e-02
75%      8.328654e-01
max      2.877939e+00
Name: PRES, dtype: float64

Notad como, efectivamente, la media se aproxima ahora al valor 0, y la desviación, a 1.

## Reducción de dimensiones

Una opción sencilla para reducir dimensiones consiste en seleccionar un conjunto de características de interés. Podemos realizar esta selección de manera sencilla gracias a las funciones que disponemos sobre los *dataframes* de pandas.

In [19]:
# Mostramos los atributos actuales.
print(list(data_trans))

['No', 'year', 'day', 'hour', 'pm2.5', 'DEWP', 'TEMP', 'PRES', 'Iws', 'Is', 'Ir', 'month_apr', 'month_aug', 'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sept', 'month_nan', 'cbwd_NE', 'cbwd_NW', 'cbwd_SE', 'cbwd_nan']

In [20]:
# Eliminamos el atributo "DEWP".
data_trans = data_trans.drop("DEWP", axis=1)

In [21]:
# Mostramos los atributos después del cambio.
print(list(data_trans))

['No', 'year', 'day', 'hour', 'pm2.5', 'TEMP', 'PRES', 'Iws', 'Is', 'Ir', 'month_apr', 'month_aug', 'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sept', 'month_nan', 'cbwd_NE', 'cbwd_NW', 'cbwd_SE', 'cbwd_nan']

Un grupo de técnicas de reducción de dimensiones muy desarrollado se centra en la extracción de características. Aunque conceptualmente estos procesos se escapan de este curso introductorio, lo cierto es que es fácil aplicar estas técnicas con sklearn. El lector interesado puede consultar [los ejemplos](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html#examples-using-sklearn-decomposition-pca) de la propia documentación de sklearn. "https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html#examples-using-sklearn-decomposition-pca"

## Reducción de muestras

Una alternativa sencilla para realizar una reducción de las muestras disponibles consiste en seleccionar de manera aleatoria uniforme un subconjunto de muestras del *dataset*.

In [22]:
# Mostramos el número de muestras original.
print(len(data_trans))

43824

In [23]:
# Seleccionamos un 25 % de las muestras de manera aleatoria.
sampled_data = data_trans.sample(frac=0.25)

In [24]:
# Mostramos el número de muestras seleccionado.
print(len(sampled_data))

# Mostramos las cinco primeras muestras seleccionadas.
sampled_data.head(n=5)

10956

,No,year,day,hour,pm2.5,TEMP,PRES,Iws,Is,Ir,...,month_mar,month_may,month_nov,month_oct,month_sept,month_nan,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_nan
16392,16393,2011,15,0,314.0,2.0,1.027634,0.45,0,0,...,0,0,1,0,0,0,0,0,0,1
40003,40004,2014,25,19,44.0,31.0,-1.212208,27.27,0,0,...,0,0,0,0,0,0,0,0,1,0
35869,35870,2014,3,13,6.0,1.0,0.930250,80.03,0,0,...,0,0,0,0,0,0,0,1,0,0
16332,16333,2011,12,12,34.0,16.0,0.151174,33.97,0,0,...,0,0,1,0,0,0,0,1,0,0
33405,33406,2013,23,21,18.0,9.0,0.832865,13.86,0,0,...,0,0,0,1,0,0,0,1,0,0

Notad que el *dataframe* conserva el número de atributos original, pero solo contiene un 25 % de las muestras originales.

## Discretización

En ocasiones nos interesará convertir un atributo continuo en uno de discreto. Una manera de hacerlo es divir el espacio de posibles valores que toma el atributo en `n` _bins_ o intervalos del mismo tamaño y asignar cada muestra al intervalo al que pertenece. Veamos un ejemplo discretizando el atributo `Iws` en cinco intervalos del mismo tamaño.

Un '''atributo continuo''' tiene un número infinito de valores posibles. Es representado por números reales o de punto flotante. Se pueden obtener tan precisos como sea el instrumento de medición. Los atributos categóricos o cualitativos siempre son discretos.

In [25]:
# Observamos los estadísticos básicos del atributo "Iws".
data_trans["Iws"].describe()

count    43824.000000
mean        23.889140
std         50.010635
min          0.450000
25%          1.790000
50%          5.370000
75%         21.910000
max        585.600000
Name: Iws, dtype: float64

In [26]:
'''pd.cut() -> Agrupa los valores en intervalos discretos.'''

# Creamos un nuevo atributo "Iws_disc" que contiene la discretización de "Iws".
data_trans["Iws_disc"] = pd.cut(data_trans["Iws"], 5)

In [27]:
# Visualizamos el contenido de los atributos "Iws" y "Iws_disc" para un subconjunto de muestras 
# para observar el resultado.
data_trans.loc[80:90, ["Iws", "Iws_disc"]]

       Iws          Iws_disc
80   80.90  (-0.135, 117.48]
81   90.73  (-0.135, 117.48]
82  100.56  (-0.135, 117.48]
83  108.61  (-0.135, 117.48]
84  117.55  (117.48, 234.51]
85  127.38  (117.48, 234.51]
86  136.32  (117.48, 234.51]
87  145.26  (117.48, 234.51]
88  152.41  (117.48, 234.51]
89  159.56  (117.48, 234.51]
90  165.37  (117.48, 234.51]

Por defecto la función `cut` utiliza el intervalo como valor del nuevo atributo. Podemos asignar valores arbitrarios al nuevo atributo, por ejemplo:

In [28]:
# Designamos cinco nombres para los intervalos.
group_names = ['Very Low', 'Low', 'Medium', 'High', 'Very High']

In [29]:
# Creamos un nuevo atributo "Iws_disc_named" discretizando de nuevo "Iws" con 5 intervalos
# del mismo tamaño pero usando ahora las etiquetas definidas.
data_trans["Iws_disc_named"] = pd.cut(data_trans["Iws"], 5, labels = group_names)

In [30]:
# Visualizamos el contenido de los atributos "Iws", "Iws_disc" y "Iws_disc_named" 
# para un subconjunto de muestras para observar el resultado.
data_trans.loc[80:90, ["Iws", "Iws_disc", "Iws_disc_named"]]

       Iws          Iws_disc Iws_disc_named
80   80.90  (-0.135, 117.48]       Very Low
81   90.73  (-0.135, 117.48]       Very Low
82  100.56  (-0.135, 117.48]       Very Low
83  108.61  (-0.135, 117.48]       Very Low
84  117.55  (117.48, 234.51]            Low
85  127.38  (117.48, 234.51]            Low
86  136.32  (117.48, 234.51]            Low
87  145.26  (117.48, 234.51]            Low
88  152.41  (117.48, 234.51]            Low
89  159.56  (117.48, 234.51]            Low
90  165.37  (117.48, 234.51]            Low

## Bibliografía

* Documentación del paquete preprocessing de la librería Sklearn: http://scikit-learn.org/stable/modules/preprocessing.html
* Tutorial sobre escalado con la librería Sklearn: https://scikit-learn.org/0.18/auto_examples/preprocessing/plot_robust_scaling.html
* Libro sobre técnicas de preprocesamiento de datos: García, Salvador; Luengo, Julián; Herrera, Francisco. (2015). Fecha preprocessing in data mining. Nueva York: Springer.